<template>
  <div id="outline">

    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">实名认证</div>
        <div class="am-modal-bd">
          真实姓名
          <input type="text" class="am-modal-prompt-input" id="realname">
        </div>
        <div class="am-modal-bd">
          电话号码
          <input type="text" class="am-modal-prompt-input" id="phonenumber">
        </div>
        <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
          <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
      </div>
    </div>
    <div id="content">
      <homepage v-if="index === 0"></homepage>
      <interfere v-if="index === 1"></interfere>
    </div>
    <div class="am-topbar am-topbar-fixed-bottom" id="footer" style="background:snow">
      <div class="am-u-sm-6" @click.stop="changeIcon(0)">
        <img src="../assets/homewhite.png" class="footerimg" v-if="index !== 0">
        <img src="../assets/homeblue.png"  class="footerimg" v-if="index === 0">
        <p style="margin:0;padding:0;color:dodgerblue">主页</p>
      </div>
      <div class="am-u-sm-6" @click.stop="changeIcon(1)">
        <img src="../assets/personwhite.png" class="footerimg" v-if="index !== 1">
        <img src="../assets/personblue.png" class="footerimg" v-if="index === 1">
        <p style="margin:0;padding:0;color:black">我</p>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  body{
    background-color: white;
  }
  #outline {
    width: 100%;
    height: 100%;
    #content {
      width: 100%;
      height: 90%;
    }
    /* 页脚  */
    #footer {
      width: 100%;
      height: 10%;
      margin: 0;
      padding: 0;
      /* 底部按钮 */
      .footerimg {
        width: 15%;
        height: 60%;
        margin-top: 5%;
      }
    }
  }
</style>
<script>
  import homepage from './homepage/outer'
  import interfere from './individual/interfere'
  import axios from 'axios'
  export default{
    data () {
      return {
        index: 0,
      }
    },
    components: {
      homepage,
      interfere
    },
    computed:
      {
        userid: function () {
          return this.$root.accesstoken.userId
        },
        id: function () {
          return  this.$root.accesstoken.id
        },
        authenticated:function(){
          return this.$root.accesstoken.authenticated
        }
      },
    methods: {
      changeIcon (tips) {
        var selectedIndex = tips
        this.index = tips
        $('#footer div').each(function (index, element) {
          if (index === selectedIndex) {  // 当前下标指向发生点击事件的图标
            // console.log($(this).attr('id'))
            $(this).children('p').css('color', 'dodgerblue')
          } else {
            // console.log($(this).children('p'))
            $(this).children('p').css('color', 'black')
          }
        })
      }
    },
    mounted(){
      if (this.authenticated != true) {
        $(function() {
            // $('#my-prompt').modal('open');
            $('#my-prompt').modal({
              relatedTarget: this,
              onConfirm: function (e) {
                console.log('outline mounted')
                var result = {}
                result.authenticated = false;//?
                if (e.data[0] != undefined) {
                  result.nickname = e.data[0]
                  result.authenticated = true
                }
                if (e.data[1] != undefined) {
                  result.phone = e.data[1]
                  result.authentication = true
                }
                result.id = this.userid
                var updateurl = 'https://api.mecord.cn/api/MecordUsers/' + this.userid + '?access_token=' + this.id
                this.$http.put(updateurl, result)
                  .then((response) => {//已改
                    window.alert('实名认证成功！')
                    this.$root.loadClientDate()
                  })
                  .catch((response) => {
                    console.log('can not update')
                  })
              },
              onCancel: function (e) {
                alert('不想说!');
              }
            });
          });
        this.$router.push('/outline')
      }
    }
  }
</script>
